* text eol=lf

# Graphics
*.svg text # SVG treated as an asset (binary) by default.
*.ai binary
*.bmp binary
*.eps binary
*.gif binary
*.gifv binary
*.glb binary
*.ico binary
*.jng binary
*.jp2 binary
*.jpg binary
*.jpeg binary
*.jpx binary
*.jxr binary
*.pdf binary
*.png binary
*.psb binary
*.psd binary
*.tif binary
*.tiff binary
*.wbmp binary
*.webp binary
*.avif binary

# Fonts
*.ttf binary
*.eot binary
*.otf binary
*.woff binary
*.woff2 binary
